<div class="flex-row">
  {{#each userPosts as |userPost| }}
  <div class="pt-5 col-xl-4 w-25">
    <div class="display-flex">
      <div class="">
        <div class="card p-4 card-rounded">
          <div class="card card-header">
            <h2>Author: {{post.User.username}}</h2>
            <h2>{{post.title}} </h2>
          </div>
          <div class="card card-body card-rounded">
            <p>{{post.body}}</p>
          </div>
          <div class="card card-body card-rounded">
            <p>Posted On: {{post.createdAt}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>